# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out


.gitattributes
.idea
de.mobilcom.mastermind.Mastermind.iml

# ignore eclipse files
.classpath
.project
.settings/
bin/

